<table id="tt" class="easyui-datagrid" style="width:100%;height:auto;">
	<thead>
		<tr>
			<th field="name1" >Col 1</th>
			<th field="name2" >Col 2</th>
			<th field="name3" >Col 3</th>
			<th field="name4" >Col 4</th>
			<th field="name5" >Col 5</th>
			<th field="name6" >Col 6</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Data 1</td>
			<td>Data 2</td>
			<td>Data 3</td>
			<td>Data 4</td>
			<td>Data 5</td>
			<td>Data 6</td>
		</tr>
		<tr>
			<td>Data 1</td>
			<td>Data 2</td>
			<td>Data 3</td>
			<td>Data 4</td>
			<td>Data 5</td>
			<td>Data 6</td>
		</tr>
		<tr>
			<td>Data 1</td>
			<td>Data 2</td>
			<td>Data 3</td>
			<td>Data 4</td>
			<td>Data 5</td>
			<td>Data 6</td>
		</tr>
		<tr>
			<td>Data 1</td>
			<td>Data 2</td>
			<td>Data 3</td>
			<td>Data 4</td>
			<td>Data 5</td>
			<td>Data 6</td>
		</tr>
	</tbody>
</table>