{% load staticfiles %}

{# 页脚二 #}
<div class="footer" id="footer">
    <img src="{% static 'img/site/cateye.png' %}" class="cateye" id="cateye">
    <div class="copyright" id="copyright">
		<div class="white_link">
			<a href="#nowhere">关于天猫</a>
			<a href="#nowhere"> 帮助中心</a>
			<a href="#nowhere">开放平台</a>
			<a href="#nowhere">  诚聘英才</a>
			<a href="#nowhere">联系我们</a>
			<a href="#nowhere">网站合作</a>
			<a href="#nowhere">法律声明</a>
			<a href="#nowhere">知识产权</a>
			<a href="#nowhere">  廉正举报	</a>
		</div>
		<div class="white_link">
			<a href="#nowhere"> 阿里巴巴集团</a><span class="slash">|</span>
			<a href="#nowhere"> 淘宝网</a><span class="slash">|</span>
			<a href="#nowhere">天猫 </a><span class="slash">|</span>
			<a href="#nowhere">  聚划算</a><span class="slash">|</span>
			<a href="#nowhere">全球速卖通</a><span class="slash">|</span>
			<a href="#nowhere">阿里巴巴国际交易市场</a><span class="slash">|</span>
			<a href="#nowhere">1688</a><span class="slash">|</span>
			<a href="#nowhere">阿里妈妈</a><span class="slash">|</span>
			<a href="#nowhere">  阿里旅行·去啊	</a><span class="slash">|</span>
			<a href="#nowhere">  阿里云计算	</a><span class="slash">|</span>
			<a href="#nowhere">  阿里通信 	</a><span class="slash">|</span>
			<a href="#nowhere">  YunOS	</a><span class="slash">|</span>
			<a href="#nowhere">  阿里旅行·去啊	</a><span class="slash">|</span>
			<a href="#nowhere">   万网	</a><span class="slash">|</span>
			<a href="#nowhere">  高德	</a><span class="slash">|</span>
			<a href="#nowhere"> 优视 	</a><span class="slash">|</span>
			<a href="#nowhere">  友盟	</a><span class="slash">|</span>
			<a href="#nowhere">  虾米	</a><span class="slash">|</span>
			<a href="#nowhere">  天天动听	</a><span class="slash">|</span>
			<a href="#nowhere">  来往	</a><span class="slash">|</span>
			<a href="#nowhere">  钉钉	</a><span class="slash">|</span>
			<a href="#nowhere">  支付宝 		</a>
		</div>
		<div class="license">
			<span>增值电信业务经营许可证： 浙B2-20110446</span>
			<span>网络文化经营许可证：浙网文[2015]0295-065号</span>
			<span>互联网医疗保健信息服务 审核同意书 浙卫网审【2014】6号 </span>
			<span>互联网药品信息服务资质证书编号：浙-（经营性）-2012-0005</span>
		    <div class="copyRightYear">© 2003-2016 TMALL.COM 版权所有</div>
		    <div>
		    	<img src="{% static 'img/site/copyRight1.jpg' %}">
		    	<img src="{% static 'img/site/copyRight2.jpg' %}">
		    </div>
		</div>
	</div>
</div>
