{% extends 'ibase.html' %}
{% load staticfiles %}

{% block title %}我的淘宝首页{% endblock %}

{% block content %}
<section class="icontent">
    <div class="inav">
        <span>全部功能</span>
        <ul>
            <li><a href="#nowhere">我的购物车</a></li>
            <li><a href="#nowhere">已买到的宝贝</a></li>
            <li><a href="#nowhere">购买过的店铺</a></li>
            <li><a href="#nowhere">我的发票</a></li>
            <li><a href="#nowhere">我的收藏</a></li>
            <li><a href="#nowhere">我的积分</a></li>
            <li><a href="#nowhere">我的优惠信息</a></li>
            <li><a href="#nowhere">评价管理</a></li>
            <li><a href="#nowhere">退款维权</a></li>
            <li><a href="#nowhere">我的足迹</a></li>
            <li><a href="#nowhere">流量钱包</a></li>
        </ul>

        <span>最近访问</span>
        <ul>
            <li><a href="#nowhere">天猫会员</a></li>
            <li><a href="#nowhere">骑行之家</a></li>
            <li><a href="#nowhere">小米专卖店</a></li>
        </ul>
    </div>
    <div class="ibody">
        <div class="guesslike">
            <div class="guesslike-head">
                根据浏览，猜我喜欢 <a class="pull-right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;换一组</a>
            </div>


        </div>

    </div>
    <aside>
        <h2>我的日历</h2>
        <h2>便民服务</h2>
    </aside>

</section>

{% endblock %}