{% load staticfiles %}
<div>
    <a href="{% url 'index' %}">
        <img src="{% static 'img/site/simpleLogo.png' %}" class="simpleLogo" id="simpleLogo">
    </a>
    <form method="post" > 
    <div class="simpleSearchDiv pull-right">
        <input type="text" name="keyword" placeholder="平衡车 原汁机">
        <button type="button" class="searchButton">搜天猫</button>
        <div class="searchBelow">
                    <span>
                        <a href="#nowhere">
                            冰箱
                        </a>
                            <span>|</span>              
                    </span>           
                    <span>
                        <a href="#nowhere">
                            空调
                        </a>
                            <span>|</span>              
                    </span>           
                    <span>
                        <a href="#nowhere">
                            女表
                        </a>
                            <span>|</span>              
                    </span>           
                    <span>
                        <a href="#nowhere">
                            男表
                        </a>
                    </span>           
        </div>
    </div>
    </form>
    <div style="clear:both"></div>
</div>

